- content_for :the_audit_main do
  %h1= t('the_audit.list_title')

  = paginate @audits

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th User
        %th Obj
        %th@ctrl_acts
          - opts = options_for_select @ctrl_acts.collect{|opt| base_name = [ opt.controller_name, opt.action_name ].join('-'); [ "#{ base_name } (#{ opt.count })", base_name ] }, selected: params[:controller_action]
          = select_tag :controller_action, opts, prompt: "Controller/Action", class: 'form-control'

        %th= link_to 'IP↕', simple_sort_url(:ip, params), title: :description
        %th= link_to 'Fullpath↕', simple_sort_url(:fullpath, params), title: :fullpath
        %th= link_to 'Referer↕', simple_sort_url(:referer, params), title: :referer
        %th= link_to 'User agent↕', simple_sort_url(:user_agent, params), title: :user_agent
        %th= link_to 'Remote addr↕', simple_sort_url(:referer, params), title: :referer
        %th Action

    %tbody
      - @audits.each do |audit|
        %tr
          %td= audit.user_id.nil? ? 'Guest' : audit.user_id
          %td= link_to audit.obj_type, send("#{ audit.obj_type.downcase }_path", audit.obj_id) unless ( audit.obj_id.blank? || audit.obj_type.blank? )
          %td= "#{ audit.controller_name }/#{ audit.action_name }"
          %td= link_to audit.ip, params.merge(ip: audit.ip)
          %td= audit.fullpath
          %td= audit.referer
          %td
            %span{ title: audit.user_agent }
              = truncate(audit.user_agent, length: 20)
          %td= audit.remote_addr
          %td= link_to('Show', admin_audit_path(audit))

  = paginate @audits
